.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    width: 80%;
    background: #305a56;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}


.zhenjing{
    background-image: url("../image/zhenjing.jpg");
}
.zhenjing2{
    background-image: url("../image/zhenjing2.png");
}
.zhenjing3{
    background-image: url("../image/zhenjing3.png");
    background-size:auto,100%;

}